@charset "utf-8";
/* 오호라 초기화 css - reset.css */

/* 마진, 패딩 없애기 */
html,body,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd{
  margin: 0;
  padding: 0;
}

/* 가로스크롤 생김 방지 */
html,body{
  overflow-x: hidden;
  }

/* ul, ol 블릿 제거 */
ul,ol{
  list-style: none;
}

/* a요소 리셋 */
a{
    /* 글자색 - 검정 */
    color: #000;
    /* 밑줄 없애기 */
    text-decoration: none;
    
}
